<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.MessageHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.model.MessageHistory" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="SENDER_ID" property="senderId" jdbcType="INTEGER" />
    <result column="S_ADDRESS" property="sAddress" jdbcType="VARCHAR" />
    <result column="S_CANAL" property="sCanal" jdbcType="VARCHAR" />
    <result column="S_TIME" property="sTime" jdbcType="TIMESTAMP" />
    <result column="MESSAGE" property="message" jdbcType="VARCHAR" />
    <result column="M_TYPE" property="mType" jdbcType="VARCHAR" />
    <result column="M_STATUS" property="mStatus" jdbcType="VARCHAR" />
    <result column="ADDRESSEE_ID" property="addresseeId" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SENDER_ID, S_ADDRESS, S_CANAL, S_TIME, MESSAGE, M_TYPE, M_STATUS, ADDRESSEE_ID,
    CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from message_history
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message_history
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.MessageHistory" >
    insert into message_history (ID, SENDER_ID, S_ADDRESS,
    S_CANAL, S_TIME, MESSAGE,
    M_TYPE, M_STATUS, ADDRESSEE_ID,
    CREATE_TIME)
    values (#{id,jdbcType=INTEGER}, #{senderId,jdbcType=INTEGER}, #{sAddress,jdbcType=VARCHAR},
    #{sCanal,jdbcType=VARCHAR}, #{sTime,jdbcType=TIMESTAMP}, #{message,jdbcType=VARCHAR},
    #{mType,jdbcType=VARCHAR}, #{mStatus,jdbcType=VARCHAR}, #{addresseeId,jdbcType=INTEGER},
    #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.model.MessageHistory" >
    insert into message_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="senderId != null" >
        SENDER_ID,
      </if>
      <if test="sAddress != null" >
        S_ADDRESS,
      </if>
      <if test="sCanal != null" >
        S_CANAL,
      </if>
      <if test="sTime != null" >
        S_TIME,
      </if>
      <if test="message != null" >
        MESSAGE,
      </if>
      <if test="mType != null" >
        M_TYPE,
      </if>
      <if test="mStatus != null" >
        M_STATUS,
      </if>
      <if test="addresseeId != null" >
        ADDRESSEE_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="senderId != null" >
        #{senderId,jdbcType=INTEGER},
      </if>
      <if test="sAddress != null" >
        #{sAddress,jdbcType=VARCHAR},
      </if>
      <if test="sCanal != null" >
        #{sCanal,jdbcType=VARCHAR},
      </if>
      <if test="sTime != null" >
        #{sTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="mType != null" >
        #{mType,jdbcType=VARCHAR},
      </if>
      <if test="mStatus != null" >
        #{mStatus,jdbcType=VARCHAR},
      </if>
      <if test="addresseeId != null" >
        #{addresseeId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.MessageHistory" >
    update message_history
    <set >
      <if test="senderId != null" >
        SENDER_ID = #{senderId,jdbcType=INTEGER},
      </if>
      <if test="sAddress != null" >
        S_ADDRESS = #{sAddress,jdbcType=VARCHAR},
      </if>
      <if test="sCanal != null" >
        S_CANAL = #{sCanal,jdbcType=VARCHAR},
      </if>
      <if test="sTime != null" >
        S_TIME = #{sTime,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null" >
        MESSAGE = #{message,jdbcType=VARCHAR},
      </if>
      <if test="mType != null" >
        M_TYPE = #{mType,jdbcType=VARCHAR},
      </if>
      <if test="mStatus != null" >
        M_STATUS = #{mStatus,jdbcType=VARCHAR},
      </if>
      <if test="addresseeId != null" >
        ADDRESSEE_ID = #{addresseeId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.MessageHistory" >
    update message_history
    set SENDER_ID = #{senderId,jdbcType=INTEGER},
      S_ADDRESS = #{sAddress,jdbcType=VARCHAR},
      S_CANAL = #{sCanal,jdbcType=VARCHAR},
      S_TIME = #{sTime,jdbcType=TIMESTAMP},
      MESSAGE = #{message,jdbcType=VARCHAR},
      M_TYPE = #{mType,jdbcType=VARCHAR},
      M_STATUS = #{mStatus,jdbcType=VARCHAR},
      ADDRESSEE_ID = #{addresseeId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>