---
server:
    port: 7001
    tomcat:
        uri-encoding: UTF-8

spring:
  application:
    name: ChatRoom
  http:
      multipart:
        max-file-size: 600Mb
        max-request-size: 1000Mb
      encoding:
        force: true
        charset: UTF-8
        enabled: true
  datasource:
    url: jdbc:log4jdbc:mysql://localhost:3306/osmcs?characterEncoding=utf8&useSSL=true
    username: root
    password: root
    driver-class-name: net.sf.log4jdbc.DriverSpy
  redis:
    host: localhost
    port: 6379
    password:
    pool:
      max-active: 8
      max-wait: -1
      max-idle: 8
      min-idle: 0
  rabbitmq:
      host: localhost
      port: 15672
      username: guest
      password: guest